---
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from '../ThemeSelect.astro';
---

<header>
  <div
    class='flex justify-between max-w-screen-2xl mx-auto pb-[92px] pt-[74px] px-4'
  >
    <div class='w-[223px]'>
      <SiteTitle {...Astro.props} />
    </div>
    <div class='!mt-0 flex gap-x-4'>
      <ThemeSelect {...Astro.props} />
      <SocialIcons {...Astro.props} />
    </div>
  </div>
</header>
