---
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';

const footerData = {
  links: [
    {
      label: 'Privacy Policy',
      url: '/',
    },
    {
      label: 'Disclaimer',
      url: '/',
    },
  ],
  copyright:
    '© 2024 The Algorand Foundation Ltd is Incorporated in the Republic of Singapore',
};
---

<style>
  .homepage-social-icons > a {
    @apply !text-black;
  }
</style>

<footer
  class='bg-algo-lavender-300 dark:bg-algo-teal-200 !text-white dark:!text-algo-navy rounded-t-[21px] !mt-[120px] lg:!mt-[140px]'
>
  <div
    class='lg:flex lg:justify-between lg:items-end max-w-screen-2xl mx-auto pb-[92px] pt-[74px] px-4 text-center lg:text-left'
  >
    <div class='w-[366px]'>
      <SiteTitle {...Astro.props} />
    </div>
    <div class='lg:grid lg:grid-flow-col lg:gap-x-[60px] max-w-[576px] !mt-0'>
      <div>
        {
          footerData.links.map(link => (
            <a
              href={link.url}
              target='_blank'
              class='block !text-inherit no-underline text-lg font-sans font-medium'
            >
              {link.label}
            </a>
          ))
        }
      </div>
      <p class='text-lg font-sans font-medium leading-[1.8] !mt-0'>
        {footerData.copyright}
      </p>
    </div>
    <div
      class='homepage-social-icons flex gap-x-[21px] justify-center lg:justify-start !mt-4 lg:!mt-0 !text-black'
    >
      <SocialIcons {...Astro.props} />
    </div>
  </div>
</footer>
