---
import IconCard from './IconCard.astro';

const cards = [
  {
    heading: 'AlgoKit code tutorials',
    description:
      'Step-by-step introduction to Algorand through Utils TypeScript.',
    icon: 'square-brackets',
    url: 'https://tutorials.dev.algorand.co',
  },
  {
    heading: 'Example gallery',
    description: 'Explore and launch batteries-included example apps.',
    icon: 'long-right-arrow',
    url: 'https://examples.dev.algorand.co',
  },
  {
    heading: 'Connect in Discord',
    description: 'Meet other devs and get code support from the community.',
    icon: 'network',
    url: 'https://discord.gg/algorand',
  },
  {
    heading: 'Contact the Foundation',
    description: 'Reach out to the team directly with technical inquiries.',
    icon: 'block',
    url: 'https://algorand.co/algorand-foundation/contact',
  },
] as const;
---

<section class='icon-card-grid my-10! lg:my-[140px]!'>
  <div
    class='max-w-(--breakpoint-home-container) grid md:grid-cols-2 lg:grid-cols-4 gap-5 xl:gap-8 mx-auto! px-5 md:px-9'
  >
    {
      cards.map(card => (
        <IconCard
          heading={card.heading}
          description={card.description}
          icon={card.icon}
          url={card.url}
        />
      ))
    }
  </div>
</section>
