[submodule "imports/repos/nodekit"]
	path = imports/repos/nodekit
	url = https://github.com/algorandfoundation/nodekit
[submodule "imports/repos/puya"]
	path = imports/repos/puya
	url = https://github.com/algorandfoundation/puya
[submodule "imports/repos/algokit-utils-ts"]
	path = imports/repos/algokit-utils-ts
	url = https://github.com/algorandfoundation/algokit-utils-ts
[submodule "imports/repos/algokit-utils-py"]
	path = imports/repos/algokit-utils-py
	url = https://github.com/algorandfoundation/algokit-utils-py
[submodule "imports/repos/py-algorand-sdk"]
	path = imports/repos/py-algorand-sdk
	url = https://github.com/algorand/py-algorand-sdk
[submodule "imports/repos/algokit-cli"]
	path = imports/repos/algokit-cli
	url = https://github.com/algorandfoundation/algokit-cli
