[submodule "imports/repos/nodekit"]
	path = imports/repos/nodekit
	url = https://github.com/algorandfoundation/nodekit
[submodule "imports/repos/puya"]
	path = imports/repos/puya
	url = https://github.com/algorandfoundation/puya
[submodule "imports/repos/algokit-utils-ts"]
	path = imports/repos/algokit-utils-ts
	url = https://github.com/algorandfoundation/algokit-utils-ts
[submodule "imports/repos/algokit-utils-py"]
	path = imports/repos/algokit-utils-py
	url = https://github.com/algorandfoundation/algokit-utils-py
[submodule "imports/repos/py-algorand-sdk"]
	path = imports/repos/py-algorand-sdk
	url = https://github.com/algorand/py-algorand-sdk
[submodule "imports/repos/algokit-cli"]
	path = imports/repos/algokit-cli
	url = https://github.com/algorandfoundation/algokit-cli
[submodule "imports/repos/sdk-go"]
	path = imports/repos/sdk-go
	url = https://github.com/algorand/go-algorand-sdk
[submodule "imports/repos/sdk-py"]
	path = imports/repos/sdk-py
	url = https://github.com/algorand/py-algorand-sdk
[submodule "imports/repos/sdk-js"]
	path = imports/repos/sdk-js
	url = https://github.com/algorand/js-algorand-sdk
[submodule "imports/repos/sdk-java"]
	path = imports/repos/sdk-java
	url = https://github.com/algorand/java-algorand-sdk
[submodule "imports/repos/puya-ts"]
	path = imports/repos/puya-ts
	url = https://github.com/algorandfoundation/puya-ts.git
[submodule "imports/repos/algorand-typescript-testing"]
	path = imports/repos/algorand-typescript-testing
	url = https://github.com/algorandfoundation/algorand-typescript-testing.git
[submodule "imports/repos/algorand-python-testing"]
	path = imports/repos/algorand-python-testing
	url = https://github.com/algorandfoundation/algorand-python-testing.git
[submodule "imports/repos/algokit-subscriber-ts.git"]
	path = imports/repos/algokit-subscriber-ts.git
	url = https://github.com/algorandfoundation/algokit-subscriber-ts.git
[submodule "imports/repos/algokit-subscriber-ts"]
	path = imports/repos/algokit-subscriber-ts
	url = https://github.com/algorandfoundation/algokit-subscriber-ts.git
[submodule "imports/repos/algokit-subscriber-py"]
	path = imports/repos/algokit-subscriber-py
	url = https://github.com/algorandfoundation/algokit-subscriber-py.git
