{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "overrides": [
      {
        "files": "*.md*",
        "options": {
          "proseWrap": "always"
        }
      },
      {
        "files": "*.json",
        "options": {
          "tabWidth": 2,
          "printWidth": 100
        }
      },
      {
        "files": "*.mjs",
        "options": {
          "tabWidth": 2,
          "printWidth": 100
        }
      },
      {
        "files": "*.jsx",
        "options": {
          "parser": "babel"
        }
      },
      {
        "files": "*.tsx",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }