{
  "plugins": ["prettier-plugin-astro"],
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md*",
      "options": {
        "printWidth": 100,
        "parser": "mdx",
        "proseWrap": "always"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.mjs",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
