@tailwind base;
@tailwind components;
@tailwind utilities;

pre,
code {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

table.reference-table td:first-child,
table.reference-table code {
  @apply text-xs;
  white-space: nowrap;
}

:root[data-theme='dark'] {
  [data-icon] {
    color: theme('colors.icon.dark');
  }
  article.card {
    background-color: theme('colors.gray.800');
  }
}
:root[data-theme='light'] {
  [data-icon] {
    color: theme('colors.icon.light');
  }
  article.card {
    background-color: theme('colors.primary.50');
  }
}

/* Sidebar - remove vertical lines */
ul.top-level li {
  border-inline-start: none;
}

/* Font Overrides */
:root {
  --sl-text-2xs: 0.75rem;
  --sl-text-xs: 0.825rem;
  --sl-text-sm: 0.85rem;
  --sl-text-base: 0.875rem;
  --sl-text-lg: 1.125rem;
  --sl-text-xl: 1.25rem;
  --sl-text-2xl: 1.5rem;
  --sl-text-3xl: 1.8125rem;
  --sl-text-4xl: 2.1875rem;
  --sl-text-5xl: 2.625rem;
  --sl-text-6xl: 4rem;
  --sl-text-body: var(--sl-text-base);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-xs);
}

/* Center column overrides for ContentPanel.astro */
:root {
  --sl-content-width: 60rem;
  --sl-content-margin-inline: 0rem;
}
